body {
  background-color: darkolivegreen;
  color: Ivory;
  font-family: "Roboto", sans-serif;
}
/* I changed the background colour to "DarkOliveGreen" and the font colour to "Ivory". I copied and pasted the link from Google Fonts to HTML and the name of the fonts to CSS. */

@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }

  .topnav a {
    width: 100%;
    float: none;
  }
}
/* anytime the screen is underneath of 600px width, the font-size will be 20px and the links in the navigation bar will be in the column. */

.header {
  padding: 40px;
  background: steelblue;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}
/* I used Flexbox for a header with those styles for Heading 1. */

.cp-text {
  color: white;
  text-align: left;
}
/* I identified the color and text-align for the copyright symbol */

text{
  font-size:20px;
  font-weight:bold;
}
/* I changed the font size and color for the SVG text "The List of Block Post". */

.topnav {
  background-color: lightcoral;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
  padding: 5px 10px;
}
/* I added a "LightCoral" background color and used Flexbox to the top navigation bar. */

.topnav a {
  float: left;
  color: FloralWhite;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
}
/* I added those styles to the links inside the navigation bar. */

.topnav a:hover {
  color: lavender;
}
/* I changed the "Lavender" colour of links on hover. */