body {
    background-color: DarkOliveGreen;
    color: Ivory;
    font-family: "Roboto", sans-serif;
  }
  /* I changed the background colour to "DarkOliveGreen" and the font colour to "Iovry". I copies and pasted the link from Google Fonts to HTML and the name of the fonts to CSS. */
  
  img {
    width: 700px;
    height: 400px;
  }
  /* I adjusted all the image sizes with a setup of width and height */
  
  @media only screen and (max-width: 600px) {
    body {
      font-size: 20px;
    }
  }
  /* anytime the screen is underneath of 600px width, the font-size will be 20px */
  
  .header {
    padding: 50px;
    background: DarkSlateBlue;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* I used Flexbox for a header with those styles for Heading 1. */
  