body {
  background-color: BurlyWood;
  font-family: "Roboto", sans-serif;
}
/* I changed the font to "Roboto" by copying and pasting the link to HTML and the name of the font to CSS from "Google Fonts" and background colour to "Burlywood". */

.subtitle {
  font-size: 20px;
  text-decoration: underline;
}
/* I also underlined the subtitles and changed the font-size. Now, It's easy to read. */

.paragraph {
  font-style: italic;
  font-size: 14px;
}
/* I made the font for thesis descriptions italic and font size for 16px. */

@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }
/* Anytime the screen is underneath of 600px width, the font-size will be 20px */

  .topnav a {
    width: 100%;
    float: none;
  }
/* Anytime the screen is underneath of 600px width, the links of the navigation bar will become a column line. */

  .portrait{
    margin-left: 150px;
  }
/* Anytime the screen is underneath of 600px width, the image will change to the margin-left 150px. */

  h2{
    margin-left: 70px;
  }
  /* Anytime the screen is underneath of 600px width, the heading 2 will change to the margin-left 70px. */
}

.header {
  padding: 40px;
  background-color: darkgreen;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}
/* I used Flexbox for a header with those styles for Heading 1. */

.icon {
  width: 100px;
  height: 100px;
  margin: 10px 50px;
  padding: 10px 50px;
}
/* I created the icon link of my resume PDF document with a setup of width, height, margin and padding. */

.cp-text {
  color: black;
  text-align: left;
}
/* I identified the color and text-align for the copyright symbol */

.topnav {
  background-color: darkolivegreen;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
  padding: 5px 10px;
}
/* I added a "darkolivegreen" background color and used Flexbox to the top navigation bar. */

.topnav a {
  float: left;
  color: FloralWhite;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
}
/* I added those styles to the links inside the navigation bar. */

.topnav a:hover {
  color: DarkBlue;
}
/* I changed the "DarkBlue" colour of links on hover. */


