body {
  background-color: LightBlue;
  font-family: "Roboto", sans-serif;
}
/* I changed the background to "LightBlue" and copied and pasted the link and name of "Roboto" as the font-family from "Google Fonts" to both HTML and CSS. */

.subtitle {
  font-weight: bold;
  font-size: 20px;
}
/*  I changed the font-weight and size of the subtitles to make them easy to be seen. */

.paragraph {
  font-size: 16px;
}
/* I made the font size for 16px. */

.text {
  text-decoration: underline;
}
/*  I underlined the (first) keywords of the paragraph text to make them easy to be seen. */

@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }
/* Anytime the screen is underneath of 600px width, the font-size will be 20px */

  .topnav a {
    width: 100%;
    float: none;
  }
/* Anytime the screen is underneath of 600px width, the links of the navigation bar will become a column line. */

}

.header {
  padding: 40px;
  background-color: Indigo;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}
/* I used Flexbox responsive layout for a header with those styles for Heading 1. */

.cp-text {
  color: black;
  text-align: left;
}
/* I identified the color and text-align for the copyright symbol */

.topnav {
  background-color: rebeccapurple;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 5px;
  padding: 5px 10px;
}
/* I added a "rebeccapurple" background color and used Flexbox responsive layout to the top navigation bar. */

.topnav a {
  float: left;
  color: FloralWhite;
  text-align: center;
  padding: 14px 16px;
  font-size: 18px;
}
/* I added those styles to the links inside the navigation bar. */

.topnav a:hover {
  color: lightcoral;
}
/* I changed the "LightCoral" colour of links on hover for the navigation bar. */

a:hover {
  color: lightcoral;
}
/* I changed the "LightCoral" colour of links on hover for my resume pdf document. */

#container {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 40px 20px;
}
/* I set the container to have a flexbox responsive layout that the paragraphs will be responsive with different screen sizes from row to column. */

.text-container {
  display: block;
  max-width: 400px;
  height: auto;
  margin: 30px;
  background-color: lavender;
  padding: 20px;
}
/* I set up a block card for each section except the "Skills" section */

.text-container img{
  height: 300px;
  width: 200px;
  margin-left: 20px;
}
/* I tried to control the height, width and margin of image */

#text-container1 {
  display: block;
  max-width: 1000px;
  height: auto;
  margin: 30px;
  background-color: lavender;
  padding: 20px;
}
/* I set up a special block card for the "Skills" section */